.congrats--msg{
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
  background: #fff;
    padding: 020px;
    position: absolute;
    left: 20px;
    right: 20px;
    top: 30px;
}

.congrats--msg span{
  font-size: 14px;
  font-weight: 400;
}