.signup-wrapper{
  height: auto;
  padding: 40px;
}

.profile-pic-wrapper{
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 100px;
  margin: 0 auto;
  margin-bottom: 20px;

}

.seperator{
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.seperator span{
  background-color: #f3f3f4;
  padding: 0 20px;
  display: flex;
  position: relative;
  z-index: 2;
  width: 16px;
  margin: 0 auto;
  justify-content: center;
}

.seperator::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  margin: 0 atuo;
  left: 0;
  top: 8px;
  margin-bottom: 10px;
  background-color: rgb(224 219 219);
}

.upload-icon{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #8144e5;
  display: grid;
  place-items: center;
}

.upload-icon svg{
  font-size: 12px;
  width: 18px;
  height: 18px;
  fill: #fff;
}
/* 
.iFzriD {
  all: unset;
  width: 42px;
  height: 16px;
  background-color: rgb(129, 68, 229);
  display: flex;
  flex-direction: row-reverse;
  cursor: pointer;
  background-clip: padding-box;
  padding: 4px 6px 4px 4px;
  border-radius: 100px;
  transition: all 0.3s ease 0s;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  border-image: initial;
}
.iRnBql {
  all: unset;
  width: 42px;
  height: 16px;
  background-color: rgb(204, 210, 225);
  display: flex;
  flex-direction: row;
  cursor: pointer;
  background-clip: padding-box;
  padding: 4px 6px 4px 4px;
  border-radius: 100px;
  transition: all 0.3s ease 0s;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  border-image: initial;
}
.iRnBql:focus {
  border: 2px solid rgb(186, 177, 255);
}
.iRnBql:hover .sc-biBsmb {
  box-shadow: rgb(34 41 57 / 20%) 0px 2px 15px 0px, rgb(34 41 57 / 15%) 0px 3px 8px 0px;
}
.hzA-DLb {
  width: 16px;
  height: 16px;
  border-radius: 100px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(34 41 57 / 10%) 0px 2px 4px 0px;
} */

.balance-detail{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.balance-detail span{
  font-size: 14px;
  color: #9a9a9a;
  margin: 0;
}

.transaction-wrapper{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px !important;
  padding-left: 8px;
}

.transaction-wrapper div{
  display: flex;
  flex-direction: column;
}

.transaction-wrapper label, .transaction-wrapper span{
  white-space: nowrap;
  margin: 0;
}

.funds-options-wrapper{
  display: flex;
  width: 100%;
  gap: 20px;
}

.funds-options-wrapper div{
  height: 120px;
  flex: 1;
  border-radius: 8px;
  background-color: #fff;

  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
}

.funds-options-wrapper a{
  width: 50%;
  text-align: center;
  color: #000;
}

.content-wrapper{
  position: relative !important;
}